@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.eot');
    src: url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.woff2') format('woff2'),
         url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.woff') format('woff'),
         url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.ttf') format('truetype'),
         url('../fonts/museosanscyrl/museosanscyrl-regular/museosanscyrl-regular.svg#museo_sans_cyrl500') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1180px;
	padding: 0;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding: 0 0 50px;
}

.content-part{
	padding-right: 8.33333%;
}

.breadcrumbs{
	margin-bottom: 32px;
	font-size: 13px;
	a{
		color: #000;
		margin-right: 26px;
		position: relative;
		&:hover{
			color: #f58220;
		}
		&:after{
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			background: url(../img/svg/br.svg) no-repeat;
			position: absolute;
			right: -22px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	span{
		color: #9da0a5;
	}
}
.breadcrumbs__wrap{
	border-bottom: 1px solid #ebedf0;
	    padding: 12px 0 10px;
}


.workarea{
	line-height: 1.5;
	h1{
		margin: 0;
		margin-bottom: 15px;
		font-weight: normal;
		font-size: 32px;
		line-height: 1.3;
	}
	h2{
		margin: 0;
		margin-bottom: 15px;
		font-weight: normal;
		font-size: 28px;
		line-height: 1.3;
	}
	h3{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 24px;
	    line-height: 1.3;
	}
	h4{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 20px;
	    line-height: 1.3;
	}
	h5{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 17px;
	    line-height: 1.3;
	}
	h6{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 1.3;
	}
	p{
		margin: 0;
		margin-bottom: 15px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
	ol{
		margin: 0;
	    margin-bottom: 31px;
	    padding: 0;
	    counter-reset: myCounter;
	    li{
			list-style-type: none;
			padding-left: 40px;
			position: relative;
			margin-bottom: 6px;
			&:before {
			    counter-increment: myCounter;
			    content: counter(myCounter);
			    position: absolute;
			    left: 0;
			    top: 0;
			    color: #428bca;
			    border: 1px solid #dae8f5;
			    border-radius: 50%;
			    min-width: 22px;
			    height: 22px;
			    text-align: center;
			    font-size: 16px;
			}
	    }
	}
	ul{
		margin: 0;
	    margin-bottom: 31px;
	    padding: 0;
	    li{
			list-style-type: none;
			padding-left: 32px;
			position: relative;
			margin-bottom: 6px;
			&:before {
			    content: " ";
			    position: absolute;
			    left: 8px;
    			top: 10px;
			    border-radius: 50%;
			    width: 6px;
			    height: 6px;
			    display: inline-block;
			    background: #428bca;
			}
	    }
	}
	table{
		width: 100%;
		table-layout: fixed;
		margin-bottom: 15px;
    	min-width: 550px;
		th{
			background: #ebedf0;
			font-weight: bold;
			text-align: left;
			padding: 12px 18px;
			white-space: nowrap;
			line-height: 1;
			font-size: 13px;
		}
		td{
			padding: 11px 17px;
    		line-height: 1;
    		border-bottom: 1px solid #ebedf0;
		}
	}
	blockquote{
		display: block;
		font-size: 20px;
		font-style: italic;
		position: relative;
		margin: 0;
		margin-bottom: 20px;
		padding: 30px 30px;
		line-height: 1.5;
		&:before{
            content: "";
            display: inline-block;
            width: 71px;
            height: 46px;
            background: url(../img/content/bl1.png) no-repeat;
            position: absolute;
            left: 3px;
			top: 14px;
		}
		&:after{
            content: "";
            display: inline-block;
            width: 71px;
            height: 46px;
            background: url(../img/content/bl2.png) no-repeat;
            position: absolute;
			right: 5px;
			bottom: 27px;
		}
	}
}

.blockquote-inner{
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 50px;
		height: 3px;
		position: absolute;
		left: 0;
		top: -17px;
		background: #428bca;
	}
	&:after{
		content: "";
		display: inline-block;
		width: 50px;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: -25px;
		background: #428bca;
	}
}

.person{
	color: #428bca;
	font-style: normal;
	    padding-top: 6px;
}
.person__item{
	overflow: hidden;
}

.person__img{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 18px;
}

.person__position{
	font-size: 13px;
	color: #000;
}

.image-wrap{
	margin-bottom: 17px;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.image-title{
	font-size: 13px;
	padding-left: 19px;
	border-left: 2px solid #428bca;
	margin-top: 10px;
}

.sidebar__item{
	margin-bottom: 4px;
	&:last-child{
		margin-bottom: 0;
	}
}
.sidebar__link{
	display: block;
	background: #ebedf0;
	font-size: 16px;
	text-decoration: none;
	padding: 9px 40px 7px 18px;
	color: #000;
	position: relative;
	border-left: 2px solid transparent;
	&:after{
		content: "";
		display: inline-block;
		width: 21px;
		height: 21px;
		background: #fff url(../img/content/arrow.png) center no-repeat;
		border-radius: 50%;
		position: absolute;
		right: 9px;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s ease;
	}
	&.active{
		border-left: 2px solid #428bca;
		&:after{
			transform: translateY(-50%) rotate(180deg);
		}	
	}
	&:hover{
		color: #000;
	}
}

.sidebar-submenu{
	padding: 14px 39px;
	display: none;
}

.sidebar-submenu__link{
	display: block;
	font-size: 16px;
	margin-bottom: 9px;
	color: #000;
	&:last-child{
		margin-bottom: 0;
	}

}

.callout-wrap{
	margin-bottom: 30px;
	font-size: 13px;
}

.callout{
	color: #f51313;
}

.video-wrap{
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0 10px 17px -7px rgba(0,0,0,0.45);
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	&:after{
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0,19,41 ,0.6);
		position: absolute;
		left: 0;
		top: 0;
	}
}

.play{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	max-width: 365px;
}

.play__btn{
	width: 100px;
	height: 100px;
	background: url(../img/content/play.png) no-repeat;
	transition: background 0.3s ease;
	display: block;
	margin: 0 auto 25px;
	&:hover{
		background: url(../img/content/play-h.png) no-repeat;
	}
}

.play__info{
	color: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
}

.mfp-wrap {
    overflow-x: hidden;
    overflow-y: auto;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

.mfp-with-fade .mfp-content,
.mfp-with-fade .mfp-arrow, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.mfp-with-fade.mfp-ready .mfp-content,
.mfp-with-fade.mfp-ready .mfp-arrow {
  opacity: 1; }

.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-fade.mfp-removing .mfp-content,
.mfp-with-fade.mfp-removing .mfp-arrow, .mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0; }


.mfp-zoom-out {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    transform: scale(1.3); 
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
}


.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
.mfp-iframe-scaler {
    overflow: visible;
}

/* =transition */
.mfp-ready .mfp-figure {
  opacity: 0; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95); }

.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0; }

.mfp-iframe-scaler {
  overflow: visible;
  /*so the close button is shown*/ }

.mfp-zoom-out-cur {
  cursor: auto; }

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer; }

.text-hightlighted{
	border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
    padding-top: 14px;
    padding-bottom: 18px;
    margin-bottom: 15px;
}

.table-wrap {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    table{
    	margin-bottom: 0;
    }
}

.table-wrap::-webkit-scrollbar {
  height: 8px; }

.table-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.table-wrap::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #428bca; }

.book{
	max-width: 214px;
}

.book__img{
	margin-bottom: 35px;
	box-shadow: 0 10px 17px -7px rgba(0, 0, 0, 0.45);
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.book-nav__link{
	display: block;
    margin-bottom: 12px;
    font-size: 13px;
    color: #337ab7;
    padding: 4px 15px 4px 37px;
    position: relative;
    border: 1px solid #c4cad4;
    background: #fff;
	transition: all 0.3s ease;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		background: #428bca;
		color: #fff;
		.book-nav__icon svg{
			fill:#fff;
		}
	}
	&:active{
		background: #2f74b0;
		color: #fff;
		.book-nav__icon svg{
			fill:#fff;
		}
	}
}

.book-nav__icon{
	position: absolute;
	left: 9px;
	top: 50%;
	transform: translateY(-50%);
	width: 23px;
	height: 15px;
	svg{
		fill: #337ab7;
		transition: fill 0.3s ease;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

.book-top{
	overflow: hidden;
	margin-bottom: 37px;
}

.book-offers{
    float: right;
    padding-left: 20px;
    width: 200px;
    margin-top: 33px;
}

.book-offers__item{
	margin-bottom: 15px;
	border: 1px solid #ebedf0;
	position: relative;
	padding: 15px 15px 50px;
	text-align: center;
	font-size: 13px;
	&:last-child{
		margin-bottom: 0;
	}
}

.book-offers__link{
	display: block;
	background: #428bca;
	width: 100%;
	text-align: center;
	color: #fff;
	border-bottom: 2px solid #2f74b0;
	padding: 6px 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: background 0.3s ease;
	font-size: 17px;
	&:hover{
		color: #fff;
		background: #5aa7e9;
	}
	&:active{
		background: #2f74b0;
	}
}

.book-offers__price{
	span{
		font-size: 20px;
	}
}

.book-content{
	overflow: hidden;
	h4{
		line-height: 1.4;
	}
}

.book-labels{
	display: flex;
}

.book-labels__item{
	margin-right: 5px;
	margin-bottom: 10px;
	background: #ebedf0;
	color: #000;
	font-size: 13px;
	    padding: 6px 21px;
	    display: flex;
    align-items: center;
	&.book-labels__item--new{
		background: #f58220;
		color: #fff;
	}
}
.book-labels__icon{
	margin-right: 6px;
	width: 21px;
	height: 21px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		display: block;
	}
}

.edition{
	margin-bottom: 9px;
	font-size: 13px;
}

.book-links{
	margin-bottom: 11px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
	a{
		&:hover{
			color: #f58220;
		}
		&:active{
			color: #8d470b;
		}
	}
}

.affiliate{
	margin-bottom: 20px;
	font-size: 13px;
	a{
		&:hover{
			color: #f58220;
		}
		&:active{
			color: #8d470b;
		}
	}
}

.book-chars{
	display: flex;
	font-size: 13px;
	flex-wrap:wrap;
	a{
		&:hover{
			color: #f58220;
		}
		&:active{
			color: #8d470b;
		}
	}
}
.book-chars__item{
	width: 50%;
	padding: 0 22px;
	    margin-bottom: 3px;
	
	&:nth-child(odd){
		padding-left: 0;
	}
	&:nth-child(even){
		padding-right: 0;
	}
}

.book-chars__name{
    background: #fff;
    color: #9da0a5;
    padding: 3px 3px 3px 0;
    position: relative;
    bottom: -9px;
}

.book-chars__view{
	background: #fff;
	padding: 3px 0 3px 3px;
	 position: relative;
    bottom: -9px;
    width: 135px;
    text-align: left;
}

.book-chars__inner{
	display: flex;
	justify-content:space-between;
	border-bottom: 1px dotted #aeb1b5;
}


.accordeon__content{
	display: none;
	font-size: 13px;
	border: 1px solid #ebedf0;
	padding: 20px;
}

.accordeon{
	margin-bottom: 35px;
}

.accordeon__item{
	margin-bottom: 4px;
	&.active{
		.accordeon__toggle{

	    	&:after{
	    		transform: translateY(-50%) rotate(180deg);
	    	}
		}
		.copy-link{
			pointer-events:all;
			opacity: 1;
		}
    }
}

.accordeon__toggle{
	display: block;
    background: #ebedf0;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 40px 5px 18px;
    color: #000;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    &:after{
    	content: "";
	    display: inline-block;
	    width: 21px;
	    height: 21px;
	    background: #fff url(../img/content/arrow-black.png) center no-repeat;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    position: absolute;
	    right: 9px;
	    top: 50%;
	    transform: translateY(-50%);
	    transition: all 0.3s ease;
    }
	&:hover{
		background: #dedfe2;
		&:after{
			background: #fff url(../img/content/arrow-blue.png) center no-repeat;
		}
	}
}

.enter-code{
	position: relative;
	display: inline-block;
	a{
		display: inline-block;
		font-size: 13px;
		border: 1px solid #428bca;
		transition:all 0.3s ease;
		padding: 6px 23px;
		color: #000;
		&:hover{
			background: #428bca;
			color: #fff;
		}
		&:active{
			background: #2f74b0;
			color: #fff;
		}
	}
}


.enter-code__form{
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: 232px;
	padding: 10px;
	background: #ebedf0;
	margin-left: 10px;
	display: none;
	&:before{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 8px 5px 0;
		border-color: transparent #ebedf0 transparent transparent;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}
}

.enter-code__input{
	border: 1px solid #428bca;
	padding: 6px 111px 6px 10px;
}

.enter-code__submit{
	position: absolute;
	right: 10px;
	top: 10px;
	border: 0;
	color: #fff;
	padding: 7px 17px;
	background: #428bca;
	transition:all 0.3s ease;
	&:hover{
		background: #428bca;
		color: #fff;
	}
	&:active{
		background: #2f74b0;
		color: #fff;
	}
}

.download__link{
	display: block;
	margin-bottom: 25px;
	font-size: 13px;
	margin-left: 20px;
	padding-left: 25px;
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		.download__txt{
			color: #f58220;
		}
		.download__icon{
			background: url(../img/svg/doc-h.svg);
		}
	}
}

.download__icon{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/svg/doc.svg);
	width: 17px;
	height: 22px;
	transition: all 0.3s ease;
}

.download__txt{
	color: #000;
	transition: color 0.3s ease;
}

.download__size{
	color: #afb4bc;
}

.copy-link{
	display: inline-block;
	font-size: 13px;
	margin-left: 27px;
	padding-left: 20px;
	position: relative;
	pointer-events:none;
	opacity: 0;
	&:hover{
		color: #f58220;
		transition: all 0.3s ease;
		&:before{
			background: url(../img/svg/copy-link-h.svg) no-repeat;
		}
	}
	&:before{
		content: "";
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		left: 0;
		width: 13px;
		height: 17px;
		background: url(../img/svg/copy-link.svg) no-repeat;
		transition: all 0.3s ease;
	}
}


@import "components/footer";




@import "components/media";





