.page-header{
	background: $default-site-color;
	padding: 16px 0 13px;
	color: #fff;
}

.page-header__wrap{
	display: flex;
	justify-content:space-between;
	align-items:center;
}

.top-menu{
	display: flex;
	align-items:center;
	margin-right: 86px;
}

.top-menu__item{
	color: #fff;
	margin-right: 33px;
	
	
	&:last-child{
		margin-right: 0;
	}
    &.active{
        .top-menu__link{
            &:after{
                background: #f58220;
            }
        }
    }
	
}

.top-menu__link{
    color: #fff;
    position: relative;
    &:after{
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: transparent;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: background 0.3s ease;
    }
    &:hover{
        color: #fff;
    }
    &:hover,
    &.active{
        &:after{
            background: #f58220;
        }
    }
}

.top-menu__item--submenu{
    .top-menu__link{

        &:after{
            display: none;
        }
        &:hover{
        }
    }
    &:hover{
        .submenu{
            z-index: 4;
            transform: translateY(0);
            transition: all 0.15s linear;
            opacity: 1;
            visibility: visible;
        }
    }
}

.submenu{
    z-index: -4;
    margin-top: -3px;
    position: absolute;
    padding-top: 18px;
    width: 100%;
    transform: translateY(30px);
    transition: all 0.15s linear;
    opacity: 0;
    visibility: hidden;
    
}

.submenu__inner{
    padding: 24px 30px; 
    box-shadow:         0px 2px 6px 0px rgba(102, 119, 140, 0.26);
     background: #fff;
     position: relative;
     display: flex;
     margin-left: -194px;
    &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16.5px 10px 0px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
            left: 194px;
        bottom: 100%;
    }
}

.submenu__col{
    padding-right: 20px;
    width: 20%;
    &:last-child{
        padding-right: 0;
    }
}

.submenu__first{
    font-size: 17px;
    display: block;
    margin-bottom: 14px;
    line-height: 1.25;
    &:last-child{
        margin-bottom: 0;
    }
}
.submenu__second{
    font-size: 13px;
    padding-left: 10px;
    display: block;
    position: relative;
    margin-bottom: 16px;
    &:last-child{
        margin-bottom: 0;
    }
    &:before{
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background: #000;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.page-header__search{
	margin-right: 67px;
}

.search-link{
	width: 29px;
	height: 29px;
	background: url(../img/svg/search.svg) no-repeat;
	background-size: contain;
	display: block;
	// transition: all 0.3s ease;
	&:hover{
		background: url(../img/svg/search-h.svg) no-repeat;
		background-size: contain;
	}
}

.page-header__content{
	display: flex;
	align-items:center;
    position: relative;
}

.cart-link{
	display: inline-block;
	width: 26px;
	height: 32px;
	background: url(../img/svg/cart.svg) no-repeat;
	margin-top: -1px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    transition: none;
	&:hover{
		background: url(../img/svg/cart-h.svg) no-repeat;
	}
}

.entrance{
	color: #fff;
	margin-left: 63px;
	display: inline-block;
	position: relative;
	&:after{
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		background: transparent;
		position: absolute;
		left: 0;
		bottom: -6px;
		transition: background 0.3s ease;
	}
	&:hover{
    color: #fff;
		&:after{
			background: #f58220;
		}
	}
}

.entrance__user{
    color: #fff;
    &:hover{
        color: #fff;
    }
}

.entrance__list{
    position: absolute;
    top: 100%;
    right: 0;
    width: 235px;
    background: #fff;
    padding: 18px;
    box-shadow: 0 10px 17px -7px rgba(0, 0, 0, 0.45);
    z-index: 4;
    margin-top: 17px;
    display: none;
    &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 10px 15px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        bottom: 100%;
        right: 0;
    }
}

.entrance__link{
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    &:last-child{
        margin-bottom: 0;
    }
}

.logo{
	transition:all 0.3s ease;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}


.menu-btn {
  display: none;
    float: right;
    position: relative;
    margin-left: 20px; }
    .menu-btn.active .burger-icon {
      background-color: transparent; }
      .menu-btn.active .burger-icon:before {
        -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg); }
      .menu-btn.active .burger-icon:after {
        -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg); }
    .menu-btn.active:before {
      display: none; }
    .menu-btn.active .burger-txt {
      display: none; }

.burger-icon {
  display: block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 32px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .burger-icon:before, .burger-icon:after {
    display: block;
    width: 36px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: -2px;
    content: ""; }
  .burger-icon:before {
    top: -8px; }
  .burger-icon:after {
    top: 8px; }


.menu-mobile__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #428bca;
    color: #fff;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    padding-top: 60px;
    z-index: 7;
    max-height: 100vh;
    overflow-y: auto; 
    &.active{
    	transform: translateY(0);
    }
    .socials{

    }
}

.menu-mobile__close{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: transparent;
  &:before, &:after {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
        top: 14px;
    content: ""; }
    &:before {
        transform: rotate(45deg); }
    &:after {
        transform: rotate(-45deg); }
}


.menu-mobile__list{
  border-top: 1px solid #68a2d5;
}

.menu-mobile__link{
  display: block;
  border-bottom: 1px solid #68a2d5;
  color: #fff;
  text-decoration: none;
  padding: 16px 5px;
  text-align: center;
  font-size: 24px;
}

.menu-mobile-add{
  padding: 20px 0;
}

.menu-mobile-add__links{
  display: block;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  &:last-child{
    margin-bottom: 0;
  }
}

.menu-mobile__socials{
  padding: 20px 0;
  background: #2f74b0;
  .socials__item{
    background: #31628b;
  }
  .socials {
    justify-content: center;
  }
}

.socials__txt{
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}


.search-form{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #428bca;
    color: #fff;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    padding-top: 60px;
    z-index: 7;
    &.active{
      transform: translateY(0);
    }
}

.search__close{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: transparent;
  &:before, &:after {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
        top: 14px;
    content: ""; }
    &:before {
        transform: rotate(45deg); }
    &:after {
        transform: rotate(-45deg); }
        &:hover{
          &:before, &:after{
            background: #f58220;
          }
        }
}

.search__bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}

.search-form__item {
    position: relative;
    padding: 0 25px;
    margin: 25px auto 32px;
    max-width: 600px;
}

.search-form__input{
  border: 0;
  border-bottom: 2px solid #fff;
  width: 100%;
  font-size: 14px;
  background: transparent; 
  padding: 15px 30px 15px 8px;
}

.search-form__submit{
    position: absolute;
    right: 25px;
    top: 8px;
    border: 0;
    width: 29px;
    height: 29px;
    background: url(../img/svg/search.svg) no-repeat;
    background-size: contain;
    display: block;
    padding: 0;
    text-indent: -9999em;
    &:hover{
      background: url(../img/svg/search-h.svg) no-repeat;
      background-size: contain;
    }
}

.search-form__input::-webkit-input-placeholder {color:#76a6d5;transition:all 0.3s ease;}
.search-form__input::-moz-placeholder          {color:#76a6d5;transition:all 0.3s ease;}
.search-form__input:-moz-placeholder           {color:#76a6d5;transition:all 0.3s ease;}
.search-form__input:-ms-input-placeholder      {color:#76a6d5;transition:all 0.3s ease;}



.search-form__input:focus::-webkit-input-placeholder {color: transparent}
.search-form__input:focus::-moz-placeholder          {color: transparent}
.search-form__input:focus:-moz-placeholder           {color: transparent}
.search-form__input:focus:-ms-input-placeholder      {color: transparent}


.menu-mobile-top{
  border-top: 1px solid #68a2d5;
  display: flex;
}

.menu-mobile-top__item{
  border-right: 1px solid #68a2d5;
  width: 50%;
    padding: 13px 6px;
    text-align: center;
    color: #fff;
  &:last-child{
    border-right: 0;
  }
}


.menu-mobile__item--submenu{
    position: relative;
    &.active{
        .submenu-toggle{
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.submenu-toggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #fff url(../img/content/arrow.png) center no-repeat;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 2;
}


.mobile-submenu{
    margin: 10px 0 0;
    padding-bottom: 10px;
    //padding: 0px 0 10px;
    border-bottom: 1px solid #68a2d5;
    //margin-top: -5px;
    background: #428bca;
    z-index: 3;
    position: relative;
    display: none;
}
.mobile-submenu__item{
    text-align: center;
}

.mobile-submenu__link{
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 5px;
}

.menu-mobile__item--third{
    position: relative;
    &.active{
        .third-level-toggle{
            transform: translateY(-50%) rotate(180deg);
        }
    }
}


.third-level-toggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #fff url(../img/content/arrow.png) center no-repeat;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 2;
}

.third-level{
    padding: 5px 0; 
    text-align: center;
    display: none;
}

.third-level__link{
    color: #fff;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    &:last-child{
        margin-bottom: 0;
    }
}