
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1350px){
	.container-fluid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.book-list__access .book-offers__item {
	    min-width: 160px;
	    max-width: 160px;
	}
}

@media screen and (max-width: 1200px){
	.vebinar-add {
	    margin-bottom: 20px;
	}
	.book-list__access {
	    margin-right: 0;
	    flex-wrap:wrap;
	}
	.book-list__access .book-offers__item {
	    width: 100%;
	    margin: 0 0 20px;
		min-width: inherit;
		max-width: inherit;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.shelves-list__item .shelves-list__title {
	    font-size: 14px;
	}
	.magazine .shelves-list__item {
	    font-size: 14px;
	}
	.magazine .shelves-list__item .shelves-list__title{
		width: 250px;
		min-width: 250px;
	}
	.magazine__inner .shelves-list__item--top .shelves-list__title{
		width: 270px;
		min-width: 270px;
	}
	.shelves-list__price {
	    width: 115px;
	    padding-right: 10px;
	}
	.r-tabs-anchor {
	    padding: 10px 10px 6px 10px;
	    font-size: 14px;
	}
}

@media screen and (max-width: 1150px){
	.stars__item:nth-child(1) {
	    left: 107px;
	}
	.stars__item:nth-child(2) {
	    left: 288px;
	}
	.stars__item:nth-child(3) {
    	left: 296px;
	}
	.stars__item:nth-child(4) {
	    left: 525px;
	}
	.stars__item:nth-child(6) {
	    left: 431px;
	}
	.stars__item:nth-child(7) {
	    left: 631px;
	}
	.stars__item:nth-child(9) {
	    left: 638px;
	    top: 147px;
	}
	.stars__item:nth-child(16) {
	    left: 623px;
	}
}

@media screen and (max-width: 1100px){
	.vebinar-hover {
	    max-height: 93px;
	}
}

@media screen and (max-width: 1024px){
	.logo{
		width: 160px;
    	height: 33px;
	}
	.top-menu__item {
	    margin-right: 15px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-header__search {
	    margin-right: 15px;
	}
	.entrance {
	    margin-left: 15px;
	}
	.sidebar__link,
	.sidebar-submenu__link,
	.third-level__item{
		font-size: 14px;
	}
	.third-level__toggle {
	    right: -9px;
	}
	.sidebar__toggle {
	    top: 5px;
	}
	.sidebar-submenu {
	    padding: 14px 25px;
	}
	.sidebar__link {
	    padding: 9px 40px 7px 10px;
	}
	.top-menu {
	    margin-right: 50px;
	}
	.vebinar-add__left {
	    width: 200px;
	}
	.vebinar-add__chars {
	    padding: 40px 20px 25px;
	}
	.vebinar-descr {
	    padding-right: 0;
	    padding-left: 0;
	}
	.catalog__title {
	    padding-right: 20px;
	    font-size: 24px;
	}
	.znanium:before {
	    left: 54px;
	    top: 1px;
	}
	.znanium:after {
	    left: 96px;
	    top: 16px;
	}
	.book-list__item {
	    flex-wrap: wrap;
	}
	.book-list__access {
	    padding-top: 20px;
	        width: 100%;
	}
	.book-list__access .book-offers__item{
		margin-bottom: 0;
		margin-right: 20px;
		min-width: 180px;
		max-width: 180px;
		width: auto;
		&:last-child{
			margin-right: 0;
		}
	}
	.book-list__media {
	    width: 190px;
	}
	.book-list__info {
	    margin-bottom: 0;
	    width: calc(100% - 260px);
	}
	.book-list__media .shelves-list__buttons a {
	    font-size: 14px;
	    line-height: 1;
	}
	.magazine .shelves-list__item .shelves-list__title{
		width: 150px;
		min-width: 150px;
	}
	.magazine__inner .shelves-list__item--top .shelves-list__title{
		width: 170px;
		min-width: 170px;
	}
	.magazine__years{
		.book-offers__price span {
		    font-size: 16px;
		}
	}
	.magazine__years .sidebar-submenu {
	    padding: 15px 10px;
	}
	.classifier-toggle .classifier {
	    width: 100%;
	    left: 0;
	}
	.journal__inner {	   
	 	padding: 10px;
	}
	.journal__img {
	    margin-right: 10px;
	}
	.journal__title__link{
		font-size: 15px;
	}
	.journal__title {
	    margin-right: 10px;
	    width: 160px;
	    min-width: 160px;
	}
	.journal__buttons{
		margin-right: 10px;
	}
	.journal__top{
		padding: 10px;
	}
	.journal__total__item {
	    margin-right: 10px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.journal__total__sum {
	    font-size: 16px;
	    padding: 4px 2px;
	}
	.journal .btn {
	    padding: 3px 19px;
	}
	.journal__titles{
		padding-right: 10px;
	}
	.journal__titles__item{
		width: 120px;
		font-size: 12px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 950px){
	.search__inner {
	    padding: 25px 15px 25px 15px;
	}
	.search__view{
		text-align: center;
	}
	.search__img {
	    margin-right: 15px;
	}
	.search__info h2{
		font-size: 24px;
	}
	.magazine .shelves-list__item {
	    padding: 15px;
	}
	.magazine-title {
	    white-space: normal;
	    overflow: visible;
	    text-overflow: inherit;
	    position: static!important;
	    padding-right: 0!important;
	}
	.magazine__list{
		.shelves-list__buttons a{
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
		}
		.add-btn{
			margin-left: 0;
		}
	}
	.book-offers__count {
	    flex-wrap: wrap;
	        text-align: center;
	}
	.book-offers__count span{
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	.book-offers__count input[type="text"] {
	    margin: 0 auto;
	}
}
@media screen and (max-width: 900px){
	.shelves-list__price {
	    width: 104px;
	}
	.magazine .shelves-list__item .shelves-list__title {
	    width: 120px;
	    min-width: 120px;
	}
	.magazine__inner .shelves-list__item--top .shelves-list__title{
		width: 140px;
	    min-width: 140px;
	}
	.stars__item:nth-child(1) {
	    left: 20px;
	}
	.stars__item:nth-child(2) {
	    left: 135px;
	}
	.stars__item:nth-child(3) {
	    left: 180px;
	}
	.stars__item:nth-child(4) {
	    left: 365px;
	}
	.stars__item:nth-child(6) {
	    left: 335px;
	}
	.stars__item:nth-child(7) {
	    left: 455px;
	    top: 70px;
	}
	.stars__item:nth-child(8) {
	    left: 300px;
	    top: 168px;
	}
	.stars__item:nth-child(9) {
	    left: 409px;
	    top: 142px;
	}
	.stars__item:nth-child(10) {
	    top: 185px;
	    left: 25px;
	}
	.stars__item:nth-child(11) {
	    top: 204px;
	    left: 220px;
	}
	.stars__item:nth-child(12) {
	    top: 267px;
	}
	.stars__item:nth-child(13) {
	    left: 326px;
	}
	.stars__item:nth-child(14) {
	    top: 237px;
	    left: 359px;
	}
	.stars__item:nth-child(15) {
	    top: 344px;
	    left: 335px;
	}
	.stars__item:nth-child(16) {
	    left: 448px;
	    top: 345px;
	}
	.journal__inner {
	    flex-wrap: wrap;
	}
	.journal__sum {
	    width: 100%;
	    padding-top: 20px;
	}
	.journal__inner{
		.journal__labels {
		    width: 100%;
		    display: block;
		    min-width: 100%;
		    text-align: left;
		}
	}
}

@media screen and (max-width: 850px){
	.book-list__char {
	    display: block;
	    margin-right: 0;
	    width: 100%;
	    padding-right: 0;
	}
	.input-label {
	    width: 100%;
	    min-width: 100%;
	        padding-top: 0;
    margin-bottom: 10px;
	}
	.input-wrap {
	    flex-wrap: wrap;
	}
}

@media screen and (max-width: 768px){
	.sidebar{
		margin-bottom: 20px;
	}
	.top-menu{
		display: none;
	}
	.page-content {
	    overflow-x: hidden;
	}
	.entrance{
		display: none;
	}
	.menu-btn{
		display: inline-block;
	}
	.search-form__item {
	    position: relative;
	    padding: 0 25px;
	    margin: 25px auto 32px;
	    max-width: 100%;
	}
	.book-offers {
	    float: none;
	    padding-left: 0;
	    margin-top: 0;
	    margin-bottom: 20px;
	}
	.book-chars__item {
	    width: 100%;
	    padding: 0;
	}
	.search__wrap {
	    justify-content: flex-start;
	}
	.search__view {
	    text-align: left;
	    margin-right: 20px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.search__img {
	    margin-right: 25px;
	}
	.paging {
	    font-size: 14px;
	}
	.paging__item-prev{
		margin-right: 9px;
		margin-bottom: 10px;
		    margin-top: -1px;
	}
	.paging__item_next{
		margin-left: -5px;
		margin-bottom: 10px;
		    margin-top: -1px;
	}
	.paging__item {
	    height: 24px;
	    line-height: 24px;
	    min-width: 24px;
		margin-right: 14px;
		margin-bottom: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	.transfer-books {
	    font-size: 15px;
	    &:before{
	    	    top: 3px;
	    }
	}
	.shelves-top .create-link {
	    font-size: 15px;
	}
	.shelves-list__item--top{
		display: none;
	}
	.shelves-list__item {
	    flex-wrap: wrap;
	}
	.shelves-list__title,
	.shelves-list__author,
	.shelves-list__publisher,
	.shelves-list__year{
		width: 100%;
		margin-bottom: 13px;
		    display: block;
	}
	.shelves-list__item .shelves-list__title {
	    // color: #337ab7;
	    pointer-events: all;
	    margin-bottom: 0;
	    position: relative;
	    &:after{
	    	content: "";
		    display: inline-block;
		    width: 11px;
		    height: 7px;
		    background: url(../img/svg/arrow-b.svg) no-repeat;
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    // transition: rotate 0.3s ease;
	    }
	    &.active{
	    	&:after{
	    		transform: translateY(-50%) rotate(-180deg);
	    	}
	    }
	    // &:hover{
	    // 	color: #f58220;
	    // }
	}
	.shelves-list__buttons a span {
	    display: inline-block;
	}
	.shelves-list__buttons{
		max-width: 214px;
		flex-wrap:wrap;

	}
	.shelves-list__buttons a {
	    width: 100%;
	    margin-bottom: 12px;
	    margin-right: 0;
	    justify-content: flex-start;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	    &:hover{
	    	color: #fff;
	    }
	}
	.shelves-list__buttons a svg {
	    width: 28px;
	    height: 15px;
	    padding-left: 5px;
	    margin-right: 7px;
	}
	.shelves-list__item {
	    padding: 20px;
	}
	.shelves-list-mobile-wrap{
		display: none;
		padding-top:10px;
	}
	.shelves-list__item .shelves-list__author {
	    white-space: inherit;
	}
	.vebinar-add {
	    flex-wrap: wrap;
	}
	.vebinar-add__trainer {
	    width: 100%;
	    max-width: 262px;
	    margin-bottom: 30px;
	    order: 1;
	    padding-left: 0;
	}
	.vebinar-add__info {
	    order: 2;
	    width: 100%;
	    padding-left: 0;
	    min-width: 100%;
	}
	.vebinar-descr__inner{
		padding-left: 0;
	}
	.vebinar-inner-top__info h1{
		font-size: 24px;
	}
	.vebinar-inner-top {
	    padding: 15px 20px 40px;
	}
	.vebinar__date {
	    margin-right: 15px;
	    padding-left: 30px;
	    font-size: 15px;
	}
	.vebinar__hours {
	    padding-left: 25px;
	    font-size: 15px;
	}
	.vebinar__info {
	    padding: 25px;
	}
	.basket-link {
	    padding: 4px 15px;
	}
	.folder__link {
	    font-size: 14px;
	}
	.folder__item--fourth {
	    flex-wrap: wrap;
	}
	.folder__info {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.magazine__years {
	    padding-top: 0;
	}
	.magazine .shelves-list__item .shelves-list__title {
	    width: 100%;
	}
	.magazine__list {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.magazine__years {
	    padding-right: 10px;
	}
	.shelves-list__price {
	    width: 100%;
	    padding-right: 0;
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.magazine__list .shelves-list__buttons a {
	    margin-right: 0;
	}

	.shelves-list__author[data-title]:before,
	.shelves-list__publisher[data-title]:before,
	.shelves-list__price[data-title]:before,
	.shelves-list__period[data-title]:before{ 
		content: attr(data-title);
		display: block;
		margin-bottom: 10px;
		color: #9da0a5;
		font-size: 16px;
	}
	.cart{
		.shelves-list__item{
			justify-content: flex-start;
    		position: relative;
		}
		.r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
		    &:after{
				transform: translateY(-50%) rotate(-180deg);
			}
		}
		.r-tabs-anchor{
			pointer-events: all;
		    padding-right: 40px;
		    position: relative;
		    &:after{
				content: "";
				display: inline-block;
				width: 13px;
				height: 8px;
				background: url(../img/svg/r-title-arrow.svg) no-repeat;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.cart .shelves-list__item .shelves-list__t-name {
	    min-width: calc(100% - 40px);
	        width: auto;
	}
	.shelves-list__period {
	    padding-right: 0;
	    text-align: left;
	        margin-bottom: 20px;
	}
	.shelves-list__number {
	    min-width: 20px;
	    padding-right: 5px;
	}
	.r-tabs-accordion-title{
	    &.r-tabs-state-active{
			.r-tabs-anchor{
				background: #ebedf0;
				border-bottom: 3px solid #428bca;
				pointer-events: none;
			}
	    }
	}
	.cart .shelves-list__item{
		padding: 20px 20px 15px 20px;
	}
	.r-tabs .r-tabs-accordion-title {
	    margin-bottom: 2px;
	}
	.cart__reset {
	    margin-top: 10px;
	}
	.cart{
		.r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{
			pointer-events: all;
		}
		.shelves-list-mobile-wrap{
			display: block;
		}
		.magazine-title {
		    margin-top: 0;
		    font-size: 16px;
		}
		.book-name {
		    overflow: visible;
		    white-space: inherit;
		    font-size: 16px;
		}
	}
	.shelves-list__name {
	    width: 100%;
	    max-width: 100%;
	    padding-right: 0;
	}
	.shelves-list__count {
	    width: 100%;
	    padding-right: 0;
	    text-align: left;
	}
	.count-toggle {
	    justify-content: flex-start;
	    margin-bottom: 20px;
	}
	.shelves-list__art {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 10px;
	    font-size: 16px;
	}
	.book-name:hover {
	    position: static;
	    background: transparent;
	    padding-left: 0;
	    padding-top: 0;
	}
	.layout--index h1 {
	    font-size: 28px;
	}
	.layout--index{
		.cart-link{
			display: none;
		}
		.page-header__search {
		    margin-right: 0;
		    position: absolute;
		    left: 20px;
		        top: 2px;
		        z-index: 9;
		}
		.page-header__wrap {
		    justify-content: center;
		}
		.menu-btn {
		    position: absolute;
		    right: 20px;
		    margin-left: 0;
		}
		.search-form__input {
		    font-size: 16px;
		        padding: 12px 30px 12px 40px;
		}
		.search-form__item {
		    margin: 0 auto 22px;
		    padding: 0 20px;
		}
		.search-form {
		    padding-top: 20px;
		        z-index: 10;
		}
		.search__close {
		    left: 20px;
		    margin-left: 0;
		    top: 25px;
		    z-index: 5;
		}
		.logo{
			position: relative;
			z-index: 9;
		}
		.menu-mobile__close {
		    left: auto;
		    margin-left: 0;
		    right: 20px;
		}
		.menu-mobile__socials {
		    background: transparent;
		    border-top: 1px solid #68a2d5;
		}
		.socials__item {
		    width: 39px;
		    height: 39px;
		    background: #5083af;
		}
		.menu-mobile__link {
		    border-bottom: 0;
		    padding: 8px 5px;
		    text-align: center;
		    font-size: 20px;
		}
		.menu-mobile__list {
		    padding: 15px 0;
		}
	}
	.page-header__content{
		position: static;
	}
}

@media screen and (max-width: 600px){
	.page-footer__wrap {
	    flex-wrap: wrap;
	}
	.page-footer__copyright{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.socials {
	    justify-content: center;
	}
	.play__info{
		display: none;
	}
	.play__btn {
	    width: 60px;
	    height: 60px;
	    background-size: contain;
	    margin: 0 auto;
	}
	.page-footer__socials{
		width: 100%;
	}
	.logo {
	    width: 135px;
	    height: 27px;
	}
	.book {
	    max-width: 100%;
	}
	.book-offers {
	    width: 100%;
	}
	.book__img {
	    width: auto;
	    display: inline-block;
	}
	.copy-link {
	    display: none;
	    margin-left: 0;
	}
	.accordeon__item.active .copy-link{
		display: block;
	}
	.enter-code__form{
		left: 0;
	    top: 100%;
	    transform: translateY(0);
		margin-left: 0;
		margin-top: 10px;
		z-index: 2;
	}
	.enter-code__form:before{
		border-width: 0 5px 8px 5px;
		border-color: transparent transparent #ebedf0 transparent;
		left: 6px;
		top: auto;
		bottom: 100%;
		transform: translate(0,0);
	}
	.enter-edit__form{
		right: 0;
		margin-right: 0;
	    top: 100%;
	    transform: translateY(0);
		margin-left: 0;
		margin-top: 10px;
		z-index: 2;
	}
	.enter-edit__form:before{
		border-width: 0 5px 8px 5px;
		border-color: transparent transparent #ebedf0 transparent;
		right: 11px;
		left: auto;
		top: auto;
		bottom: 100%;
		transform: translate(0,0);
	}
	.accordeon__toggle:after {
	    width: 30px;
	    height: 30px;
	}
	.alphabet-mobile{
		display: block;
	}
	.alphabet-desktop{
		display: none;
	}
	.shelves__item {
	    padding: 7px 0px;
	}
	.transfer-books {
	    padding-left: 25px;
	    &:before{
	    	    left: 0px;
	    }
	}
	.shelves-top {
	    flex-wrap: wrap;
	}
	.shelves-top__show {
	    color: #9da0a5;
	    display: block;
	    width: 100%;
	    padding-bottom: 10px;
	    border-bottom: 1px solid #ccc;
	    margin-bottom: 20px;
	}
	.enter-code {
	    margin-bottom: 20px;
	}
	.vebinar-add__left{
		width: 100%;
	}
	.vebinar-add__right{
		width: 100%;
	}
	.vebinar-add__left span:after{
		display: none;
	}
	.vebinar-add__item {
	    flex-wrap: wrap;
	    margin-bottom: 25px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.vebinar__info{

		h2 {
		    font-size: 24px;
		}
	}
	.vebinar__inner {
	    height: 340px;
	}
	.book-list__media {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.book-list__access .book-offers__item {
	    margin-right: 0;
	    min-width: 100%;
	    max-width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.folder__info {
	    flex-wrap: wrap;
	}
	.folder__price {
	    width: 100%;
	    margin-bottom: 5px;
	}
	.basket-link {
	    margin-left: 0;
	}
	.folder__sub {
	    padding-left: 15px;
	}
	.folder__link.js-folder__link {
	    padding: 10px 0 10px 25px;
	}
	.book__img {
	    margin-bottom: 0;
	}
	.book-nav{
		margin-top: 20px;
	}
	.layout--index h1 {
	    font-size: 24px;
	}
	.stars {
	    min-height: inherit;
	    display: flex;
	    flex-wrap: wrap;
	}
	.stars__item {
	    position: static;
	    margin-right: 15px;
	    margin-bottom: 10px;
	    padding-left: 10px;
	}
	.star{
		left: -12px;
	}
	.message {
	    width: 100%;
	}
	.uploadbutton .button{
		width: 100%;
	}
	.classifier{
		padding-right: 20px;
	}
	.workarea h1 {
	    font-size: 24px;
	}
	.journal__buttons {
	    margin-right: 0;
	    width: 100%;
	    display: block;
	    padding-top: 20px;
	}
}

@media screen and (max-width: 575px){
	.catalog__descr {
	    position: static;
	    transform: translateY(0);
	    opacity: 1;
	}
	.catalog__count{
		opacity: 1!important;
	}
	.catalog__item {
	    padding-bottom: 30px;
	}
}

@media screen and (max-width: 500px){
	.search__wrap {
	    justify-content: space-between;
	}
	.search__view {
		margin-right: 0;
	}
	.journal__title {
	    margin-right: 0;
	    width: 100%;
	    min-width: 100%;
	    padding-top: 20px;
	}
	.journal__inner .journal__labels {
	    padding-top: 20px;
	}
	.journal .btn {
	    padding: 1px 5px;
	    font-size: 14px;
	}
	.journal__total__sum {
	    font-size: 14px;
	}
	.journal__titles{
		display: none;
	}
}

@media screen and (max-width: 400px){
	.enter-edit__form {
	    right: -53px;
	}
	.enter-edit__form:before{
		right: 61px;
	}
}