
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1350px){
	.container-fluid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
}

@media screen and (max-width: 1024px){
	.logo{
		width: 160px;
    	height: 33px;
	}
	.top-menu__item {
	    margin-right: 15px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-header__search {
	    margin-right: 15px;
	}
	.entrance {
	    margin-left: 15px;
	}
	.sidebar__link,
	.sidebar-submenu__link{
		font-size: 14px;
	}
	.sidebar-submenu {
	    padding: 14px 25px;
	}
	.sidebar__link {
	    padding: 9px 40px 7px 10px;
	}
	.top-menu {
	    margin-right: 50px;
	}
}

@media screen and (max-width: 768px){
	.sidebar{
		margin-bottom: 20px;
	}
	.top-menu{
		display: none;
	}
	.page-content {
	    overflow-x: hidden;
	}
	.entrance{
		display: none;
	}
	.menu-btn{
		display: inline-block;
	}
	.search-form__item {
	    position: relative;
	    padding: 0 25px;
	    margin: 25px auto 32px;
	    max-width: 100%;
	}
	.book-offers {
	    float: none;
	    padding-left: 0;
	    margin-top: 0;
	    margin-bottom: 20px;
	}
	.book-chars__item {
	    width: 100%;
	    padding: 0;
	}
}

@media screen and (max-width: 600px){
	.page-footer__wrap {
	    flex-wrap: wrap;
	}
	.page-footer__copyright{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.socials {
	    justify-content: center;
	}
	.play__info{
		display: none;
	}
	.play__btn {
	    width: 60px;
	    height: 60px;
	    background-size: contain;
	    margin: 0 auto;
	}
	.page-footer__socials{
		width: 100%;
	}
	.logo {
	    width: 135px;
	    height: 27px;
	}
	.book {
	    max-width: 100%;
	}
	.book-offers {
	    width: 100%;
	}
	.book__img {
	    width: auto;
	    display: inline-block;
	}
	.copy-link {
	    display: none;
	    margin-left: 0;
	}
	.accordeon__item.active .copy-link{
		display: block;
	}
	.enter-code__form{
		left: 0;
	    top: 100%;
	    transform: translateY(0);
		margin-left: 0;
		margin-top: 10px;
		z-index: 2;
	}
	.enter-code__form:before{
		border-width: 0 5px 8px 5px;
		border-color: transparent transparent #ebedf0 transparent;
		right: 50%;
		top: auto;
		bottom: 100%;
		transform: translate(-50%,0);
	}
	.accordeon__toggle:after {
	    width: 30px;
	    height: 30px;
	}
}