

/*FONT-FAMILY*/
$default-font: 'Roboto', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-color: #ffffff;

$default-bg: #ff0109;

/*TEXT-COLOR*/
$base-color: #000000;

$alternate-color: #ff0109;
