

/*FONT-FAMILY*/
$default-font: 'museo_sans_cyrl500', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-color: #428bca;

$default-bg: #fff;

/*TEXT-COLOR*/
$base-color: #001329;

$alternate-color: #ff0109;
